{% extends 'base.html' %}
{% load static %}
{% block title %}
Knights of Columbus - Councils
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/council-style.css' %}?v={% now 'U' %}">
<body>
    <main>
        <h1>Knights of Columbus <br> in Lucena District</h1>
        <p>Councils</p>

        <div class="councils-grid">
            {% for council in councils %}
            <a href="{% url 'council_detail' council_id=council.pk %}" class="council-link">
                <div class="council">
                    <img src="{% static 'images/kofc-logo.png' %}" alt="Council Logo">
                    <p class="council-name">{{ council.name }}</p>
                    {% if council.location_street or council.location_city or council.location_province %}
                    <div class="council-location">
                        {% if council.location_street %}
                        <p class="location-detail">{{ council.location_street }}</p>
                        {% endif %}
                        {% if council.location_barangay %}
                        <p class="location-detail">{{ council.location_barangay }}</p>
                        {% endif %}
                        {% if council.location_city %}
                        <p class="location-detail">{{ council.location_city }}</p>
                        {% endif %}
                        {% if council.location_province %}
                        <p class="location-detail">{{ council.location_province }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>
{% endblock %}