{% extends 'base.html' %}
{% load static %}

{% block title %}
Knights of Columbus - Payment Processing
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/donations-style.css' %}?v={% now 'U' %}">
<div class="background">
    <h1>Payment Processing</h1>
    <p>{{ message }}</p>
</div>
<div class="container">
    <section class="hero">
        <div class="content">
            <p>Your payment is being processed. Please wait for confirmation.</p>
            <a href="{% url 'donations' %}" class="donations-link">Back to Donations</a>
        </div>
    </section>
</div>
{% endblock %}