body {
    background-color: #f5f5f5;
}

.main {
    margin-top: 10%;
    padding-bottom: 100px; /* More space */
}

/* Main Content Styles */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2.5vh;
    line-height: 1.2;
    font-weight: 300;
    font-size: normal;
}

main p {
    font-size: 1.2rem;
    color: #3c3939;
    margin-bottom: 5vh;
}

/* Councils Grid Styles */
.councils-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0 2rem;
}

.council-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.council {
    background-color: #fff;
    border: 1.8px solid rgba(22, 27, 95, 0.4);
    border-radius: 15px;
    padding: 2.5rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.council:hover {
    transform: scale(1.01);
    border-color: rgba(33, 40, 131, 0.7);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.council img {
    width: 100px;
    height: 100px;
    margin-bottom: 1.5rem;
    object-fit: contain;
}

.council p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

/* Responsive Styles */
@media (max-width: 48rem) {
    main {
        padding: 2vh 1vh;
    }

    h1 {
        font-size: 1.75rem;
    }

    main p {
        font-size: 0.875rem;
    }

    .councils-grid {
        padding: 0 1rem;
        grid-template-columns: 1fr;
        max-width: 90vw;
        gap: 2rem;
    }

    .council {
        padding: 2rem;
        min-height: 180px;
    }

    .council img {
        width: 80px;
        height: 80px;
    }
}